body {
  margin: 0;
  padding: 0;
  min-width: 768px;
  font-family: Pt Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #00000;
  background-color: #ffffff;
  font-weight: bolder;
}

.main-navigation,
.site-navigation,
.nav {
  list-style: none;
}

.main-navigation a,
.nav a,
.site-navigation a {
  color: #00000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.main-navigaton a:hover,
.main-navigaton a:focus,
.nav a:hover,
.nav a:focus {
color: #92bdd8;
}

.main-showcase {
  background-image: url('../img/showcase-bg.jpg');
  background-repeat: no-repeat;
}

.filter {
  background-image: url('../img/fonblur.png');
  background-repeat: no-repeat;
  background-position: center;
}

.reason-list {
  list-style: none;
}
.footer-social {
  list-style: none;
}
.results-sorting,
.results-arrow {
  list-style: none;
}
fieldset {
  border: none;
}
.reason-bgblue {
  background-color: #81b3d2;
}
.reason-list {
  background-color: white;
}
.search {
  background-color: white;
}

.about-info {
  background-color: white;
}

}
.sorting {
  font-size: 12px;
  line-height: 18px;
  color: black;
  font-weight: normal;
}
.sorting-item-selected {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  font-weight: normal;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: #dadada;
  font-weight: normal;
  border-bottom: 1px dashed #81b3d2;
}

.price,
.hotel-class {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
}

.rating-text {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: normal;
  background-color: #f2f2f2;
  width: 110px;
  height: 28px;
}

.results {
  background-color: white;
}
.main-footer {
  background-color: white;
}

.wed-text {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: 500;
}
.filter {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 500;
}

.filter-legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;

}
.white-font {
  color:white;
}

.font-item {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}
.search-text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
}
.form-arrive:not(button),input:not(.min-price,.max-price) {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
.search-button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}
.button-tofind {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.more-info {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

.book-it {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}

.found-results {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
